@page
@model DashboardWebApp.Areas.Admin.Pages.UserManagement.ViewModel
@{
    ViewData["Title"] = "Dashboard - Admin User Management View User";
}
<div class="text-left">
    <h3 class="display-7">User Details</h3>
</div>
<br />
<div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input asp-for="Input.Email" type="email" class="form-control w-25" id="email" disabled>
</div>
<div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input asp-for="Input.Name" type="text" class="form-control w-25" id="name" disabled>
</div>
<div class="mb-3">
    <label for="name" class="form-label">Organization</label>
    <input asp-for="Input.OrganizationName" class="form-control w-25" disabled>
</div>
<div class="mb-3">
    <label for="name" class="form-label">User Status</label>
    <input asp-for="Input.UserStatus" class="form-control w-25" disabled>
</div>
<div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" asp-for="Input.HasDashboardPermission" id="hasDashboardPermission" disabled>
    <label class="form-check-label" for="hasDashboardPermission">Dashboard Permission</label>
</div>
<div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" asp-for="Input.HasAPIPermission" id="hasAPIPermission" disabled>
    <label class="form-check-label" for="hasAPIPermission">API Permission</label>
</div>
<div class="mb-3 form-check">
    <input class="form-check-input" asp-for="Input.IsAdmin" id="isAdminCheck" disabled />
    <label class="form-check-label" for="isAdminCheck">Is Admin</label>
</div>
<a href="/Admin/UserManagement" type="button" class="btn btn-default">Back</a>