@page
@model DashboardWebApp.Areas.Admin.Pages.OrganizationManagement.IndexModel
@{
    ViewData["Title"] = "Dashboard - Admin Organization Management";
}
<div class="text-left">
    <h3 class="display-">Organization Management</h3>
</div>
<br />
<a href="/Admin/OrganizationManagement/Create" type="button" class="btn btn-success">Create New</a>
<br />
<br />
<div id="grid"></div>
@section Scripts {
    <script src="~/js/kendo/jszip.min.js"></script>
    <script src="~/js/kendo/kendo.all.min.js"></script>
    <script id="action-template" type="text/x-kendo-template">
@*        <a href="/Admin/OrganizationManagement/View?organizationId=#: organizationId #" type="button" class="btn btn-primary">View</a>*@
        <a href="/Admin/OrganizationManagement/Update?organizationId=#: organizationId #" type="button" class="btn btn-secondary">Update</a>
    </script>
    <script>
        $(document).ready(function() {
            $("#grid").kendoGrid({
                dataSource: {
                    schema: {
                        data: "data",
                        total: "total",
                        aggregates: "aggregates",
                        groups: "groups",
                        errors: "errors",
                    },
                    transport: {
                        read: {
                            url: "/api/admin/organizations",
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
                            type: 'POST'
                        },
                        parameterMap: function(data, operation) {
                            return JSON.stringify(data);
                        }
                    },
                    error: function(e) {
                        e.sender.cancelChanges();
                    },
                    pageSize: 10,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                },
                groupable: false,
                sortable: true,
                reorderable: false,
                resizable: true,
                filterable: {
                    operators: {
                        string: {
                            eq: "Equal to",
                            contains: "Contains"
                        }
                    },
                },
                columnMenu: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [{
                    field: "organizationName",
                    title: "Email",
                    width: 250,
                },
                {
                    field: "userQuota",
                    title: "User Quota",
                    width: 100,
                },
                {
                    field: "",
                    title: "Action",
                    width: 50,
                    template: kendo.template($("#action-template").html())
                }]
            });
        });
    </script>
}